<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aloxide-sdk-swift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5488A9D2253D8B16008DA2C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5488A9E8253D8B18008DA2C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5488A9F3253D8B19008DA2C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
